@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Itm</th>
      <th scope="col">Descripción</th>
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>envio</td>
      <td>10</td>
      <td>ropa</td>
      <td>paquete</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>envio</td>
      <td>5</td>
      <td>comida</td>
      <td>caja</td>
    </tr>
    
  </tbody>
</table>