@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Itm</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Oscar</td>
      <td>Suazo</td>
      <td>Calle 20 1a</td>
      <td>7113703</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Facebook</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Arias</td>
      <td>Instagram</td>
    </tr>
    <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Arias</td>
      <td>Instagram</td>
    </tr>
  </tbody>
</table>