@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Itm</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Twitter</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Facebook</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Arias</td>
      <td>Instagram</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Larry the Bird</td>
      <td>Arias</td>
      <td>Instagram</td>
      <tr>
      <th scope="row">5</th>
      <td>Larry the Bird</td>
      <td>Arias</td>
      <td>Instagram</td>
    </tr>
    </tr>
  </tbody>
</table>